/HelloWorld/target/
/OurDemoTestBed/target/
/CastTest/target/
/convertCelsiusToFahrenheit/target/
/TestMyCar/target/
/RealCar/build/
/RealCar/nbproject/private/
/SayHello/dist/
/converter/dist/
/Shape/build/
/Shape/dist/
/Shape/nbproject/private/
/SimpleLogger/nbproject/private/
/SimpleLogger/build/
/JavaModularApplication1/nbproject/private/
/JavaModularApplication1/build/
/JavaLibrary1/nbproject/private/
/Audio/nbproject/private/
/Audio/build/
/VisualComponent/nbproject/private/
/VisualComponent/build/
/Calculator_app/nbproject/private/
/Calculator_app/build/
/PTCManagement_System/nbproject/private/
/PTCManagement_System/build/
/Frame/nbproject/private/
/Frame/build/
/Frame/dist/
/VisualComponent/dist/
/PTCManagement_System/dist/
